# === Android Studio ===
.gradle/
.idea/
build/
app/build/
local.properties
*.iml
.DS_Store

# === Python (Scripts) ===
__pycache__/
*.py[cod]
venv/
.env

# === Huge Model Files ===
*.onnx
*.onnx_data
*.tflite
*.ort
*.pb
/android/app/src/main/assets/*.onnx

# === User Specific ===
.nav/
captures/

# === Exported Artifacts ===
exported_model/
android_assets_arm64/

